<!DOCTYPE html>
<head>

    <title>ChangePassword</title>
    <style>
    </style>
</head>

<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form2.non_field_errors %}
        {% for error in form2.non_field_errors %}
            <p class="er">{{error}}</p><br>
        {% endfor %}
    {% endif %}
       {% for forms in form %}
         <p>{{forms.label_tag}} {{forms}} {{forms.errors|striptags}}</p>
       {% endfor %}
       <input type="submit" value="Changepassword">
    </form>
</body>

</html>