<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Date Time Filters Imp</title>
	<style type="text/css">
		body{
			background: slateblue;
		}
		h1{
			color: whitesmoke;
			font: sans-serif;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<!-- It is a very important filters working with date and time -->
	<h1>{{Time}}</h1>
	<h1>{{Time|date:'D d M Y'}}</h1>
	<h1>{{Time|time:'H:i'}}</h1>
	<h1>{{Time|date:'SHORT_DATE_FORMAT'}}</h1>
	<h1>{{Time|time:'TIME_FORMAT'}}</h1>
	<!-- these two format is easy for displaying time -->

</body>
</html>